<nav class="navbar navbar-light bg-light">
   <div class="row">
      <div class="col-6">
         <a class="navbar-brand" href="#">Game Informer Scraper</a>
      </div>
      <div class="col-6">
         <button class="btn btn-primary" id="scrape-articles">Scrape Articles!</button>
         <button class="btn btn-primary" id="clear-articles">Clear Articles!</button>
      </div>
   </div>
</nav>

<div class="container-fluid" id="articles">
   {{#each articles}}
   <div class="card p-5">
      <ul>
         <li>Title: {{title}}</li>
         <li>Summary: {{summary}}</li>
         <li>By: {{author}}</li>
         <li>Read <a href="{{url}}">here!</a></li>
      </ul>
   </div>
   {{/each}}
</div>

<script>
   $("#clear-articles").on("click", function() {
      $.get("/deleteArticles").then(function(res) {
        $("#articles").empty();
      })
   })

   $("#scrape-articles").on("click", function() {
      $.get("/scrape").then(function(res) {
        location.reload();
      })
   })
</script>