body {
   font-family: 'Open Sans', sans-serif;
}

/* Navbar Styles */
#navbar {
   height: 80px;
   background-color: white;
   border-bottom: 1px solid lightgray;
}

#navbar a {
   color: black;
}

#navbar a:hover {
   text-decoration: none;
}

#logo-container {
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
   font-size: 20px;
}

#gi-logo {
   height: 35px;
   margin-right: 10px;
}

#nav-buttons {
   height: 100%;
   display: flex;
   flex-direction: row;
   justify-content: flex-end;
   align-items: center;
}

.nav-button {
   padding: 15px;
   cursor: pointer;
   transition: all 300ms;
}

.nav-button:hover {
   color: rgb(37,104,222);
}

.spacer {
   margin: 0 10px;
}

/* Article Cards Styles */

#articles-display {
   min-height: 100vh;
   background-color: rgb(245, 245, 245);
   padding: 25px 50px;
}

.article-card {
   padding: 25px;
   margin: 25px 0;
}

.article-card h2 {
   margin: 0 0 15px;
}

.article-card a {
   color: rgb(37,104,222);
}

.article-card a:hover {
   color: rgb(26, 70, 147);
   text-decoration: none;
}

.article-card p {
   margin: 0 0 15px 0;
}

.article-button {
   background: none;
   color: rgb(37,104,222);
   padding: 5px 15px;
   border: 2px solid rgb(37,104,222);
   transition: all 200ms;
}

.article-button:hover {
   color: white;
   background-color: rgb(37,104,222);
}

.article-button:focus {
   outline: 0;
}

.unsave-article {
   margin-right: 5px;
}

#modalLabel {
   color: rgb(37,104,222);
}

.form-item {
   display: block;
   margin: 0;
}

#note-body {
   height: 35px;
   margin: 15px 0;
}